{% extends "layout.html" %}

{% block heading %}
    Welcome!
{% endblock %}

{% block body %}
    <div style="padding-left: 5%;">
        <h4>Buses from Singapore to Kuala Lumpur</h4>
    </div>
    <div style="padding:5%;">
        <table class="table">
            <tr>
                <th scope="col">
                    Route #
                </th>
                <th scope="col">
                    Company
                </th>
                <th scope="col">
                    Origin
                </th>
                <th scope="col">
                    Destination
                </th>
                <th scope="col">
                    Duration
                </th>
                <th scope="col">
                    Seats available
                </th>
                <th scope="col">
                    Select
                </th>
            </tr>
            {% for route,bus in route_and_bus %}
                <tr>
                    <td>
                        {{ route.id }}
                    </td>
                    <td>
                        {{ bus.company }}
                    </td>
                    <td>
                        {{ route.origin }}
                    </td>
                    <td>
                        {{ route.destination }}
                    </td>
                    <td>
                        {{ route.duration }}
                    </td>
                    <td>
                        {{ bus.seats }}
                    </td>
                    <td>
                        Select
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}